:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --primary-text-color: #757575;

  --primary-white-color: #ffffff;
  --text-white-color: #ffffff;

  --secondary-white-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* хедер */
.header {
  outline: 1px solid #ececec;
  outline-offset: -1px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px auto 0px auto;

  padding: 0px 15px;
  width: 1200px;
}

.logo {
  color: var(--accent-color);
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo__studio--black {
  color: #000000;
}

.header__logo {
  margin-right: 93px;
}

.navigation__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  display: block;
  text-decoration: none;

  padding: 32px 0px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__list {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.contacts__link:hover,
.contacts__link:focus,
.navigation__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation__link--active {
  position: relative;
}

.navigation__link--active::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 3px;
}

/* герой */
.hero {
  padding: 200px 0px;

  text-align: center;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/imgs/Hero_img.jpg"),
    linear-gradient(to right, #c4c4c4, #c4c4c4);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0px 0px 30px 0px;

  color: var(--text-white-color);

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  padding: 10px 28px 10px 29px;

  color: var(--text-white-color);
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #188ce8;
}

/* Преимущества */
.advantages {
  padding: 94px 0px 47px 0px;
}
.advantages__container {
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;

  width: 1200px;
}
.advantages__main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background-color: var(--secondary-white-color);
  border-radius: 4px;
}

.advantages-card__title {
  margin-top: 0;
  margin: 0px 0px 10px 0px;
  font-size: 14px;

  color: var(--primary-title-color);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-card__text {
  margin: 0;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.advantages-card__item {
  width: calc((100% - 90px) / 4);
}
.advantages__card:not(:last-child) {
  margin-right: 30px;
}

/* Чем мы занмаемся */

.what-we-do {
  padding: 47px 0px 94px 0px;
}

.what-we-do__container {
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;

  width: 1200px;
}

.what-we-do__title {
  margin: 0px 0px 50px 0px;
  padding: 0;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.what-we-do--card:not(:last-child) {
  margin-right: 30px;
}
.what-we-do--card__wrapper {
  position: relative;
}
.what-we-do--card__img {
  display: block;
}

.what-we-do--card__title {
  display: block;
  margin: 0;
  padding: 27px 0px;

  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.what-we-do__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

/* Наша команда */

.our-team {
  padding: 94px 0px 94px 0px;
  background-color: var(--secondary-white-color);
}
.our-team__container {
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;

  width: 1200px;
}

.our-team__title {
  margin: 0px 0px 50px 0px;
  padding: 0;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.our-team__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.teammate-card {
  padding-bottom: 30px;
  width: calc((100% - 90px) / 4);

  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.our-team__teammate-card:not(:last-child) {
  margin-right: 30px;
}

.teammate-card__photo {
  display: block;
  margin-bottom: 30px;
}
.teammate-card__title {
  margin: 0px 0px 10px 0px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}
.teammate-card__profession {
  margin: 0px 0px 16px 0px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: #ffffff;
}
/* Постоянные клиенты */
.clients {
  padding: 94px 0px 94px 0px;
}

.clients__container {
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;

  width: 1200px;
}

.clients__title {
  margin: 0px 0px 50px 0px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.clients__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;

  border-radius: 4px;

  fill: #afb1b8;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футтер */

.footer {
  background-color: var(--footer-background-color);
}
.footer__container {
  display: flex;
  align-items: baseline;

  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;

  width: 1200px;
}

.footer__address-wrapper {
  margin-right: 84px;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__studio--white {
  color: #ffffff;
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address__location {
  text-decoration: none;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
}

.address__email,
.address__tel {
  text-decoration: none;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.join__text {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.social-list__link--grey-background-white-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer__sign {
  margin-left: auto;
}

.sign__text {
  display: block;

  margin-bottom: 20px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-white-color);
}
.sign-form {
  display: flex;
}

.sign-form__input {
  margin-right: 12px;
  padding: 14px 16px;

  width: 358px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--footer-background-color);
}

.sign-form__input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.sign__button {
  display: flex;
  align-items: center;
  fill: #ffffff;
}

.sign__icon {
  margin-left: 10px;
}

/* Портфолио */
.our-projects {
  padding: 93px 0px 94px 0px;
}

.our-projects__container {
  padding: 0px 15px 0px 15px;

  margin-left: auto;
  margin-right: auto;

  width: 1200px;
}

.our-projects__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.our-projects__radio-buttons {
  margin-bottom: 50px;
}

.radio-buttons__item {
  margin-right: 8px;
}

.radio-buttons__button {
  padding: 6px 22px;

  background-color: var(--secondary-white-color);

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-buttons__button:hover,
.radio-buttons__button:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.projects {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - 60px) / 3);
  list-style: none;
}

.projects__project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__project-card:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.project-card__link {
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-card:hover .project-card__description,
.project-card:focus .project-card__description {
  transform: translateY(-100%);
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__img {
  display: block;
}

.project-card__description {
  margin: 0;
  padding: 63px 24px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white-color);

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__content {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-card__title {
  margin: 0px 0px 4px 0px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
}

.project-card__name {
  margin: 0;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* модалочка */
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scaleX(1.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__container {
  position: relative;
  padding: 40px;
  width: 528px;
  text-align: center;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__title {
  margin: 0px 0px 30px 0px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.backdrop-form__label {
  display: block;
  position: relative;
  margin: 0px 0px 28px 0px;
}

.backdrop-form__input {
  padding: 11px 16px 11px 42px;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__input:focus ~ .backdrop-form__icon {
  fill: var(--accent-color);
}

.backdrop-form__input:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.backdrop-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__label-text {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(calc(-100% - 4px));

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.backdrop-form__label-textarea {
  display: block;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.backdrop-form__textarea {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__textarea::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.backdrop-form__textarea:focus {
  border: 1px solid var(--accent-color);
}

.backdrop-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.backdrop-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop-form__icon-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 2px solid var(--primary-title-color);
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__check-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  user-select: none;
}

.backdrop-form__check-link {
  display: inline-block;
  line-height: 0.9em;
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}

.backdrop-form__icon-checkbox {
  fill: transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__checkbox:checked ~ .backdrop-form__icon-checkbox-wrapper {
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.backdrop-form__checkbox:checked + * .backdrop-form__icon-checkbox {
  fill: #ffffff;
}

.backdrop-form__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  cursor: pointer;
}

.backdrop-form__button-close:hover {
  fill: var(--accent-color);
}
