.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-white-color;
}
.our-team__container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.our-team__title {
  margin-top: 0px;
  margin-bottom: 50px;

  padding: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-title-color;
}

.our-team__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.our-team__teammate-card:not(:last-child) {
  margin-right: 30px;
}
