.header {
  outline: 1px solid #ececec;
}

.header__container {
  @extend %container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 93px;
}
